# Environment and virtual environment
/erp/env
/erp/venv

# Assets
/erp/sites/assets/*
!/erp/sites/assets/assets.json
!/erp/sites/assets/assets-rtl.json

# Logs and configuration
/erp/logs/*
/erp/config/pids/*

# Cache and compiled files
**/node_modules
**/dist
*.bundle.*
*.map
*.pyc
**/__pycache__
*.css.map
*.js.map

# Custom tools assets
/erp/sites/assets/custom_tools
/custom_tools/public/**/*.css
/custom_tools/public/**/*.js
/erp/apps/erpnext/custom_tools/public/**/*.css
/erp/apps/erpnext/custom_tools/public/**/*.js

# Redis PID files
*.pid

# Bench specific files
/erp/sites/apps.txt